html {
    font-size: 120%;
    background-color: rgba(128, 128, 128, 0.849);
}

article{
    float: right;
    width: 70%;
}

image {
    float:left;
}

footer{
    position: absolute;
    bottom: 5px;
    text-align: center;
    width: 250px;
}